---
layout: default
permalink: contact
staff:
  - name: Zoya Prochazka
    role: Temp Office Manager / Human Resources
    email: amanda@earthworkzkc.com
  - name: Tamara
    role: Office Manager / Human Resources
    email: tamara@earthworkzkc.com
  - name: Dustin
    role: Lead Estimator / Vice President of Operations
    email: dustin@earthworkzkc.com
  - name: Josh
    role: Field Operations / President
    email: josh@earthworkzkc.com
  - name: Jeremy
    role: Project Manager
    email: jeremy@earthworkzkc.com
---


<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Contact
              <small>Us</small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="index.html">Home</a>
              </li>
              <li class="active">Contact</li>
          </ol>
      </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
      <!-- Map Column -->
      <div class="col-md-8">
          <!-- Embedded Google Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.3532227517044!2d-94.0714560023407!3d39.01492708226386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c110dffb672b05%3A0xa1c00a6a7644e4d4!2sEarthworkz+Enterprises%2C+Inc!5e0!3m2!1sen!2sus!4v1485547230008" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-md-4">
          <h3>Contact Details</h3>
          <p>
              {{ site.address }}<br>
          </p>
          <p><i class="fa fa-phone"></i>
              <abbr title="Phone">P</abbr>: {{site.phone}}</p>
          {% for staff in page.staff %}
          <p>
              <strong>{{staff.name}}</strong> <br>
              {{staff.role}} <br>
              <i class="fa fa-envelope-o"></i>:
              <a href="mailto:{{email}}">{{staff.email}}</a>
          </p>
          {% endfor %}
          <p><i class="fa fa-clock-o"></i>
              <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
          <!--<ul class="list-unstyled list-inline list-social-icons">
              <li>
                  <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
              </li>
          </ul>-->
      </div>
  </div>
  <!-- /.row -->

  {% include contact-form.html %}
