---
layout: default
permalink: contact
staff:
  - name: Tamara
    role: Office Manager / Human Resources
    email: tamara@earthworkzkc.com
  - name: Dustin
    role: Lead Estimator / Vice President of Operations
    email: dustin@earthworkzkc.com
  - name: Josh
    role: Field Operations / President
    email: josh@earthworkzkc.com
  - name: Jeremy
    role: Project Manager
    email: jeremy@earthworkzkc.com
---


<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Contact
              <small>Us</small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="index.html">Home</a>
              </li>
              <li class="active">Contact</li>
          </ol>
      </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
      <!-- Map Column -->
      <div class="col-md-8">
          <!-- Embedded Google Map -->
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Earthworkz+Enterprises,+Inc/@39.0144601,-94.0711587,17z/data=!3m1!4b1!4m5!3m4!1s0x87c110dffb672b05:0xa1c00a6a7644e4d4!8m2!3d39.014456!4d-94.06897"></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-md-4">
          <h3>Contact Details</h3>
          <p>
              {{ site.address }}<br>
          </p>
          <p><i class="fa fa-phone"></i>
              <abbr title="Phone">P</abbr>: {{site.phone}}</p>
          {% for staff in page.staff %}
          <p>
              <strong>{{staff.name}}</strong> <br>
              {{staff.role}} <br>
              <i class="fa fa-envelope-o"></i>:
              <a href="mailto:{{email}}">{{staff.email}}</a>
          </p>
          {% endfor %}
          <p><i class="fa fa-clock-o"></i>
              <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
          <!--<ul class="list-unstyled list-inline list-social-icons">
              <li>
                  <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
              </li>
          </ul>-->
      </div>
  </div>
  <!-- /.row -->

  {% include contact-form.html %}
