---
layout: construction
---

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('img/slide1.jpg');"></div>
            <div class="carousel-caption">
                <h2>Directional Boring</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/slide2.jpg');"></div>
            <div class="carousel-caption">
                <h2>Vacuum Excavation</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/slide3.jpg');"></div>
            <div class="carousel-caption">
                <h2>Trenching</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

  <!-- Content Row -->
  <div class="row">
      <!-- Map Column -->
      <div class="col-md-8">
          <!-- Embedded Google Map -->
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3099.950222891966!2d-94.1950786846461!3d39.01644897955247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c110dffb61cabd%3A0x17956d785550a375!2s599+James+D+Rollo+Ct%2C+Grain+Valley%2C+MO+64029!5e0!3m2!1sen!2sus!4v1471289147549"></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-md-4">
          <h3>Contact Details</h3>
          <p>
              {{ site.address }}<br>
          </p>
          <p><i class="fa fa-phone"></i>
              <abbr title="Phone">P</abbr>: {{site.phone}}</p>
          {% for email in site.emails %}
          <p><i class="fa fa-envelope-o"></i>
              <abbr title="Email">E</abbr>: <a href="mailto:{{email}}">{{email}}</a>
          </p>
          {% endfor %}
          <p><i class="fa fa-clock-o"></i>
              <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
          <!--<ul class="list-unstyled list-inline list-social-icons">
              <li>
                  <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
              </li>
          </ul>-->
      </div>
  </div>
  <!-- /.row -->

  {% include contact-form.html %}
