<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in page.slides %}
    <li data-target="#myCarousel" data-slide-to="{{forloop.index}}"{% if forloop.first == true %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for slide in page.slides %}
    <div class="item{% if forloop.first == true %} active{% endif %}">
        <div class="fill" style="background-image:url('{{slide.img}}');"></div>
        <div class="carousel-caption">
            <h2>{{slide.title}}</h2>
        </div>
    </div>
    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
  </a>
</header>
