<hr>

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>If you are interested in requesting a project bid, please click the button to get started and someone from Earthworkz will be in contact with you at our earliest opportunity.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="contact">Request Bid</a>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
</footer>
