<!-- Service Tabs -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Services</h2>
    </div>
    <div class="col-lg-12">

        <ul id="myTab" class="nav nav-tabs nav-justified">
            <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-wrench"></i> Directional Boring</a>
            </li>
            <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-gear"></i> Vacuum Excavation</a>
            </li>
            <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-remove"></i> Rock Excavation</a>
            </li>
            <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-cogs"></i> Trenching</a>
            </li>
            <li class=""><a href="#service-five" data-toggle="tab"><i class="fa fa-map-marker"></i>
Utility Locating</a>
            </li>
            <li class=""><a href="#service-six" data-toggle="tab"><i class="fa fa-sort-desc"></i> Plowing</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="service-one">
                <h4>Directional Boring</h4>
                <p>As a full service directional drilling contractor, we can install product anywhere from 1 inch up to 24 inches and lengths from a small road crossing to 750 feet in one bore. We also have all the specialized tooling to pull about every product on the market such as Yellowmine, Certalok, HDPE and Schedule 40 stick pipe. All of our directional drilling prices are competitive with the current market, and with our fleet of drills there is nothing we can’t accomplish.</p>
            </div>
            <div class="tab-pane fade" id="service-two">
                <h4>Vacuum Excavation</h4>
                <p>We offer these services at an hourly rate for potholing utilities. Vacuum excavation is by far the safest and least invasive technology on the market for spotting utilities. By using water or air we are able to efficiently and quickly displace soils to excavate utilities. With this technology, more often than not, the public is not regularly inconvenienced during the time these services are performed. We can also perform hard surface potholing in roadways by coring a hole in the road to expose the utility; this service saves tons of time as well as money. These services start at $125.00 per hour with a 4 hour minimum and a mobilization fee to the site.</p>
            </div>
            <div class="tab-pane fade" id="service-three">
                <h4>Rock Excavation</h4>
                <p>We all are aware as to how soil conditions change and sometime you run into a small problem known as rock! Specializing in ROCK DRILLING, we are quickly making a name for ourselves in the KC market as the “Go To Guys” to get this type of work done. If you’re not wanting to drill rock, we have the tools to accomplish your project. With use of a rock saw, we can open a trench 36” deep and 6” wide. With a Rock saw, it crushes and pulverizes the rock making it possible to reuse and fill in your trench with the excavated rock. In addition, we have excavators and breaker’s which can handle a variety of rock types and dig you out of any situation. All of this work will be on a bid per foot basis or negotiated price.</p>
            </div>
            <div class="tab-pane fade" id="service-four">
                <h4>Trenching</h4>
                <p>Another route you can get your produce in the ground is by trenching. With this method, Earthworkz can cut you a ditch up to 6” wide and 60” deep. This is done by using a mechanical trencher.</p>
            </div>
            <div class="tab-pane fade" id="service-five">
                <h4>Utility Locating</h4>
                <p>Sometimes we run into those projects that once you get past the meter, one call stops locating. This is where we can come in. We do offer locating services for just that type of situation. Whether it is a school, church, shopping center, parks with private lighting, we have the tools and knowhow to get it done. These services are invaluable for everyone involved.</p>
            </div>
            <div class="tab-pane fade" id="service-six">
                <h4>Plowing</h4>
                <p>Plowing is another form of cable or duct installation. When you have long runs of wide open space, plowing is one of the quickest forms of installation. We have the capabilities of plowing materials up to 48” deep for miles at a time.</p>
            </div>
        </div>

    </div>
</div>
