<!-- Service Tabs -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Services</h2>
    </div>
    <div class="col-lg-12">

        <ul id="myTab" class="nav nav-tabs nav-justified">
            {% for service in site.services %}
            <li{% if forloop.first == true %} class="active"{% endif %}><a href="#service-{{forloop.index}}" data-toggle="tab"><i class="fa fa-{{service.icon}}"></i> {{service.title}}</a></li>
            {% endfor %}
        </ul>

        <div id="myTabContent" class="tab-content">
            {% for service in site.services %}
            <div class="tab-pane fade{% if forloop.first == true %} active in{% endif %}" id="service-{{forloop.index}}">
                <h4>{{service.title}}</h4>
                <p>{{service.content}}</p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
